* {
	// box-sizing: border-box;
	color: $dark-grey;
}

html {
	// font-size: 62.5%;
}

body {
	color: $dark-grey;
	// color: $dark-grey;
	// font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	// font-size: $m-size;
	// line-height: 1.6;
	// background: url("https://mdn.mozillademos.org/files/12057/starsolid.gif");
	background: url('/toucan.jpg');
	background-size: cover;
	// display: flex;
	// height: 100vh;
	// justify-content: center;
	// width: 100vw;
	background-repeat: no-repeat;
	background-attachment: fixed;

	// .muted-small {
	// 	color: #6c757d !important;
	// 	font-size: $s-size;
	// 	line-height: 1.2rem;
	// }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.xl-modal {
		// margin: auto;
		max-width: 100% !important;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.xl-modal {
		// width: 100% !important;
		// max-width: 100% !important;
		max-width: 85% !important;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.xl-modal {
		max-width: 65% !important;
	}
}
