.search-box-form {
	background: $background;
	border-radius: 5px;
	padding: $m-size $s-size;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;

	.title {
		margin: 0 0 $xs-size 0;
	}

	.sub-title {
		margin: 0;
	}

	input {
		// display: block;
		margin: 0 $l-size $s-size $l-size;
	}

	.button {
		width: $xl-size * 3.5;
		// margin: 0 $xl-size * 3.5;
	}
}
