.search-page-container {
	display: flex;

	.left-side {
		margin-top: $xl-size;
		.search-box {
			width: 400px;
			// margin: $xl-size 0;
		}
	}

	.right-side {
		margin: $xl-size 0 0 0;
		padding: 0 $xl-size;

		.search-results {
			display: grid;
			// grid-gap: 50px;
			grid-template-columns: 1fr 1fr 1fr;
			// grid-template-rows: 50px 50px;
			// background-color: #2196f3;
			padding: 0 10px 10px 10px;

			.card {
				height: 300px;
				background-color: $background;
				border-radius: 5px;
				padding: 20px;
				margin: 0 $m-size $m-size $m-size;
				text-align: center;

				display: flex;
				flex-direction: column;

				.card-top {
					display: flex;
					flex-direction: row;

					.card-left-side {
						img {
							height: 150px;
							border-radius: 5px;
						}
					}
					.card-right-side {
						display: flex;
						flex-direction: column;

						text-align: left;
						justify-content: space-between;
						p {
							margin: 0 $s-size;
							// margin: 0 $s-size $xs-size $s-size;
							padding: 0;
						}
						a{
							text-decoration: none;
						}
					}
				}
				.card-bottom {
					text-align: left;

				}
			}
		}
	}
}
