.search-history-container {
	background: rgba(255, 255, 255, 0.85) !important;
	margin: $l-size 0;
    padding: $s-size $l-size;
    border-radius: 5px;
    display: flex;
    flex-direction: column;



    
    // height: 300px;
    overflow: y;
    // .search-history-content{
    //     flex: 1;
    // }

    .header{
        text-align: center;
        border-bottom: 1px solid $grey;
        
    }

    .search-history-item{
        // margin: $s-size $s-size;
        padding: $s-size;
        margin: 0;
        border-bottom: 1px solid lightgray;
    }
}
