@import './base/vars';

.search-box-container {
	background: rgba(255, 255, 255, 0.85) !important;
	border-radius: 5px;
	padding: $m-size $l-size;
	text-align: center;
	display: flex;
	flex-direction: column;

	.title {
		margin: 0 0 $s-size 0;
	}

	.sub-title {
		margin: 0;
	}

	input {
		margin: 0 0 $s-size 0;
	}

	.button {
		margin: 0 $xl-size;
	}
}
